:root {
  --green: #0c512e;
  --semiGreen: #7c9c38;
  --semiYellow: #e3e43d;
  --grey: #7c7c7c;
  --success: #4caf50;
  --textLogo1: "Nova Round", cursive;
  --textLogo2: "Righteous", cursive;
  --poppins: "Poppins", sans-serif;
}
