:root {
  --green: #0c512e;
  --semiGreen: #7c9c38;
  --semiYellow: #f3f315;
  --grey: #7c7c7c;
  --success: #4caf50;
  --textLogo1: "Nova Round", cursive;
  --textLogo2: "Righteous", cursive;
  --poppins: "Poppins", sans-serif;
  --myGradient: linear-gradient(
    90deg,
    var(--green),
    var(--semiGreen)
  ) !important;
}
